hsemotion==0.3.0
insightface==0.7.3
numpy==1.26.4
onnxruntime_gpu==1.17.1
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
pandas==2.2.1
scikit-image==0.22.0
torch==2.2.1
torchvision==0.17.1
tqdm==4.65.0
deepface
tf-keras
tensorflow==2.12.1